# 후보 데이터 탐색

구매나 전환에 초점을 맞춘 분석 프로젝트를 진행하고자 한다. 프로젝트에서 분석할 데이터를 선정하기 위해 두 가지 후보의 데이터를 탐색하고 기획 의도에 맞느 데이터를 선정할 것이다.

In [1]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## 후보1. UCI : online shoppers purchasing intension dataset

In [2]:
path_1 = '/content/drive/MyDrive/Colab Notebooks/DA(AI)/online_shoppers_intention.csv'

In [3]:
pd.read_csv(path_1)
df1 = pd.read_csv(path_1)

In [4]:
df1_1 = df1.copy()
df1_1.info()

df1_1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

Administrative: 방문자가 관리 목적으로 방문한 페이지 수

Administrative_Duration: 방문자가 관리 페이지에서 보낸 총 시간(초)

Informational: 방문자가 정보 제공 목적으로 방문한 페이지 수

Informational_Duration: 방문자가 정보 페이지에서 보낸 총 시간(초)

ProductRelated : 방문자가 제품 관련 활동을 위해 방문한 페이지 수

ProductRelated _Duration: 방문자가 제품 관련 페이지에서 보낸 총 시간(초)

BounceRates: 사이트에 들어왔다가 다른 페이지를 계속 보지 않고 떠나는("바운스") 방문자의 비율

ExitRates: 세션의 마지막 페이지뷰 비율

PageValues: 거래를 완료하기 전에 방문자가 본 페이지의 평균 값

SpecialDay: 특별한 날(예: 어머니날, 발렌타인데이)에 대한 사이트 방문 시간의 근접성

Month: 해당 연도의 달

OperatingSystems: 방문자가 사용하는 운영 체제

Browser: 방문자가 사용하는 브라우저

Region: 방문자의 출신 지역

TrafficType: 트래픽 소스 유형.

VisitorType: 방문자 유형(신규, 재방문, 기타).

Weekend: 방문이 주말에 발생했는지 여부(참/거짓).

Revenue: 방문이 수익으로 이어졌는지 여부(참/거짓)

### 컬럼 확인

In [12]:
df1_1['Administrative'].value_counts()

0     5768
1     1354
2     1114
3      915
4      765
5      575
6      432
7      338
8      287
9      225
10     153
11     105
12      86
13      56
14      44
15      38
16      24
17      16
18      12
19       6
24       4
22       4
23       3
21       2
20       2
27       1
26       1
Name: Administrative, dtype: int64

In [13]:
df1_1['Administrative_Duration'].value_counts()

0.000000      5903
4.000000        56
5.000000        53
7.000000        45
11.000000       42
              ...
68.014286        1
362.300000       1
90.700000        1
760.900000       1
150.357143       1
Name: Administrative_Duration, Length: 3335, dtype: int64

In [14]:
df1_1['Informational'].value_counts()

0     9699
1     1041
2      728
3      380
4      222
5       99
6       78
7       36
9       15
8       14
10       7
12       5
14       2
16       1
11       1
24       1
13       1
Name: Informational, dtype: int64

In [15]:
df1_1['Informational_Duration'].value_counts()

0.00      9925
9.00        33
7.00        26
10.00       26
6.00        26
          ...
246.80       1
274.00       1
13.40        1
223.15       1
211.25       1
Name: Informational_Duration, Length: 1258, dtype: int64

In [16]:
df1_1['ProductRelated'].value_counts()

1      622
2      465
3      458
4      404
6      396
      ...
243      1
409      1
262      1
414      1
192      1
Name: ProductRelated, Length: 311, dtype: int64

In [19]:
df1_1['ProductRelated_Duration'].value_counts()

0.000000      755
17.000000      21
11.000000      17
8.000000       17
15.000000      16
             ...
964.070513      1
593.507143      1
831.388889      1
922.208333      1
346.000000      1
Name: ProductRelated_Duration, Length: 9551, dtype: int64

In [18]:
df1_1['BounceRates'].value_counts()

0.000000    5518
0.200000     700
0.066667     134
0.028571     115
0.050000     113
            ...
0.079279       1
0.006723       1
0.013527       1
0.074419       1
0.011149       1
Name: BounceRates, Length: 1872, dtype: int64

In [20]:
df1_1['ExitRates'].value_counts()

0.200000    710
0.100000    338
0.050000    329
0.033333    291
0.066667    267
           ...
0.021816      1
0.015787      1
0.010302      1
0.014534      1
0.029031      1
Name: ExitRates, Length: 4777, dtype: int64

In [21]:
df1_1['PageValues'].value_counts()

0.000000     9600
53.988000       6
42.293068       3
59.988000       2
16.158558       2
             ...
6.673696        1
6.094324        1
28.253955       1
16.090650       1
12.241717       1
Name: PageValues, Length: 2704, dtype: int64

In [22]:
df1_1['SpecialDay'].value_counts()

0.0    11079
0.6      351
0.8      325
0.4      243
0.2      178
1.0      154
Name: SpecialDay, dtype: int64

In [23]:
df1_1['Month'].value_counts()

May     3364
Nov     2998
Mar     1907
Dec     1727
Oct      549
Sep      448
Aug      433
Jul      432
June     288
Feb      184
Name: Month, dtype: int64

In [24]:
df1_1['OperatingSystems'].value_counts()

2    6601
1    2585
3    2555
4     478
8      79
6      19
7       7
5       6
Name: OperatingSystems, dtype: int64

In [25]:
df1_1['Browser'].value_counts()

2     7961
1     2462
4      736
5      467
6      174
10     163
8      135
3      105
13      61
7       49
12      10
11       6
9        1
Name: Browser, dtype: int64

In [26]:
df1_1['Region'].value_counts()

1    4780
3    2403
4    1182
2    1136
6     805
7     761
9     511
8     434
5     318
Name: Region, dtype: int64

In [27]:
df1_1['TrafficType'].value_counts()

2     3913
1     2451
3     2052
4     1069
13     738
10     450
6      444
8      343
5      260
11     247
20     198
9       42
7       40
15      38
19      17
14      13
18      10
16       3
12       1
17       1
Name: TrafficType, dtype: int64

In [28]:
df1_1['VisitorType'].value_counts()

Returning_Visitor    10551
New_Visitor           1694
Other                   85
Name: VisitorType, dtype: int64

In [29]:
df1_1['Weekend'].value_counts()

False    9462
True     2868
Name: Weekend, dtype: int64

In [30]:
df1_1['Revenue'].value_counts()

False    10422
True      1908
Name: Revenue, dtype: int64

## 후보2. kaggle : E-Commerce Event history in Cosmetics shop

In [ ]:
# path_2 = '/content/drive/MyDrive/Colab Notebooks/DA(AI)/kaggle_cosmetics/' ## kaggle eCommerce events history cosmetics shop

In [ ]:
# dfs = []

# for file in os.listdir(path_2):
#     if file.endswith(".csv"):
#         file_path = os.path.join(path_2, file)
#         # Read the CSV file and append its DataFrame to the list
#         dfs.append(pd.read_csv(file_path))

# combined_df = pd.concat(dfs, ignore_index=True)

# output_file = '/content/drive/MyDrive/Colab Notebooks/DA(AI)/kaggle_combined_file.csv'

# combined_df.to_csv(output_file, index=False)

# print(f"Combined CSV file saved at: {output_file}")

In [7]:
path_kaggle = '/content/drive/MyDrive/Colab Notebooks/DA(AI)/kaggle_cosmetics/kaggle_combined_file.csv' ## 결합한 캐글 데이터

In [8]:
pd.read_csv(path_kaggle)
df2 = pd.read_csv(path_kaggle)

In [9]:
df2_1 = df2.copy()

In [10]:
df2_1.info()
df2_1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20692840 entries, 0 to 20692839
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 1.4+ GB

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-12-01 00:00:00 UTC,remove_from_cart,5712790,1487580005268456287,NaN,f.o.x,6.27,576802932,51d85cb0-897f-48d2-918b-ad63965c12dc
1,2019-12-01 00:00:00 UTC,view,5764655,1487580005411062629,NaN,cnd,29.05,412120092,8adff31e-2051-4894-9758-224bfa8aec18
2,2019-12-01 00:00:02 UTC,cart,4958,1487580009471148064,NaN,runail,1.19,494077766,c99a50e8-2fac-4c4d-89ec-41c05f114554
3,2019-12-01 00:00:05 UTC,view,5848413,1487580007675986893,NaN,freedecor,0.79,348405118,722ffea5-73c0-4924-8e8f-371ff8031af4
4,2019-12-01 00:00:07 UTC,view,5824148,1487580005511725929,NaN,NaN,5.56,576005683,28172809-7e4a-45ce-bab0-5efa90117cd5
...,...,...,...,...,...,...,...,...,...
20692835,2020-01-31 23:59:52 UTC,remove_from_cart,5886774,1487580006317032337,NaN,NaN,1.59,607092857,a4ccd1c4-a9d2-48d0-9816-082ec5bb5e47
20692836,2020-01-31 23:59:52 UTC,remove_from_cart,5886774,1487580006317032337,NaN,NaN,1.59,607092857,a4ccd1c4-a9d2-48d0-9816-082ec5bb5e47
20692837,2020-01-31 23:59:53 UTC,view,5875432,2084144451428549153,NaN,NaN,2.05,423651741,fb42a963-abef-4c4f-b1ba-f5812dd54e80
20692838,2020-01-31 23:59:57 UTC,remove_from_cart,5820745,1487580006317032337,NaN,NaN,2.22,607092857,a4ccd1c4-a9d2-48d0-9816-082ec5bb5e47
20692839,2020-01-31 23:59:58 UTC,remove_from_cart,5820745,1487580006317032337,NaN,NaN,2.22,607092857,a4ccd1c4-a9d2-48d0-9816-082ec5bb5e47

In [11]:
df2_1.isnull().sum()

event_time              0
event_type              0
product_id              0
category_id             0
category_code    20339246
brand             8757117
price                   0
user_id                 0
user_session         4598
dtype: int64

event_time: 이벤트(예: 조회, 구매)가 발생한 시간

event_type: 이벤트 유형(예: 조회, 장바구니, 구매)

product_id: 제품의 ID

category_id: 해당 상품이 속한 카테고리의 ID

category_code: 제품 카테고리를 나타내는 코드

brand: 제품의 브랜드

price: 제품 가격

user_id: 사용자의 ID

user_session: 사용자 세션의 ID

### 컬럼 확인

In [31]:
df2_1['event_time'].value_counts()

2020-02-15 16:08:37 UTC    3087
2020-02-05 09:55:55 UTC    2067
2020-02-06 18:10:38 UTC    1982
2020-02-05 09:55:40 UTC    1892
2020-02-15 16:08:56 UTC    1075
                           ...
2019-10-13 00:27:19 UTC       1
2019-10-13 00:27:17 UTC       1
2019-10-13 00:27:16 UTC       1
2019-10-13 00:27:13 UTC       1
2020-01-31 23:59:58 UTC       1
Name: event_time, Length: 8782890, dtype: int64

In [32]:
df2_1['event_type'].value_counts()

view                9657821
cart                5768333
remove_from_cart    3979679
purchase            1287007
Name: event_type, dtype: int64

In [33]:
df2_1['product_id'].value_counts()

5809910    141650
5809912     55606
5700037     51111
5802432     45008
5854897     44799
            ...
5815775         1
5688893         1
5568096         1
5701709         1
5682848         1
Name: product_id, Length: 54571, dtype: int64

In [34]:
df2_1['category_id'].value_counts()

1487580007675986893    1062716
1487580005595612013     789465
1487580005092295511     770985
1487580005671109489     680648
1487580006317032337     646704
                        ...
1487580007155893175          2
1487580009890578479          1
1487580010897211483          1
1487580011056595041          1
1487580009706029097          1
Name: category_id, Length: 525, dtype: int64

In [35]:
df2_1['category_code'].value_counts()

appliances.environment.vacuum             149168
stationery.cartrige                        59728
apparel.glove                              52575
furniture.living_room.cabinet              30560
accessories.bag                            24253
furniture.bathroom.bath                    23931
appliances.personal.hair_cutter             5384
accessories.cosmetic_bag                    3644
appliances.personal.massager                3296
appliances.environment.air_conditioner       708
furniture.living_room.chair                  343
sport.diving                                   4
Name: category_code, dtype: int64

In [36]:
df2_1['brand'].value_counts()

runail       1528908
irisk        1033852
masura        861763
grattol       852591
bpw.style     434813
              ...
shifei             9
vl-gel             7
dessata            6
gena               3
pueen              1
Name: brand, Length: 273, dtype: int64

In [37]:
df2_1['price'].value_counts()

5.24     620768
3.97     598502
0.79     541460
3.00     529433
4.44     501977
          ...
34.68         1
19.70         1
39.27         1
19.22         1
53.49         1
Name: price, Length: 2860, dtype: int64

In [38]:
df2_1['user_id'].value_counts()

527021202    26752
557616099     9903
583884978     9420
419558969     8283
476450673     8122
             ...
583616620        1
548465166        1
565377447        1
548451124        1
560889817        1
Name: user_id, Length: 1639358, dtype: int64

In [39]:
df2_1['user_session'].value_counts()

74206ba1-c863-4760-bbdc-b11777059e46    5411
dee05e29-f331-48dc-b1b3-547985fc2aa4    5323
d7998d70-7562-4ff0-8870-5ace290db2c9    4193
a062f07b-4eef-4266-8660-b3040ed412aa    4037
ec5821ee-396d-4b72-a89b-50aea5b0847b    3785
                                        ...
c3d9556d-036b-4b1d-8448-a6b72ce13355       1
e401824b-6728-49c7-8b5a-0d59e2756507       1
04816d12-04f9-4be1-9257-15e07cefe67a       1
ce1d9da0-7b7a-4c5c-a709-9ffb9702fea5       1
fc7063a6-b45e-4863-babb-da4934b83388       1
Name: user_session, Length: 4535941, dtype: int64

# 데이터 선정

- 데이터 탐색 결과 UCI의 데이터는 웹사이트의 방문자 행동 지표에 대한 데이터라는 것을 알 수 있었다.
약 12,000개 정도의 데이터이고, 결측치가 존재하지 않는다는 점이 이점이었다.
- Kaggle의 데이터는 화장품 이커머스 회원의 구매 기록 데이터이다. 결측치가 다수 존재하긴 하였으나 주요 컬럼은 결측치가 없었고 결측치를 어떻게 처리하는 지도 프로젝트의 한 부분이기에 큰 단점은 아니라 생각했다.
- UCI는 웹사이트의 방문자 행동 분석에 적합한 데이터이고, Kaggle은 구매, 전환 지표에 더 적합한 데이터라고 생각하여 kaggle의 E-Commerce Event history in Cosmetics shop 데이터를 최종 프로젝트 데이터로 선택하였다.